*{
    padding: 0;
    margin: 0;
    color: white;

}
.content{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    display: inline-block;
}



#navbar{
    height: 60px;
    background-color: #0f1111;
}
#logo{
    color: #f08804;
    font-size: 25px;
}
button{
    background-color:#f08804 ;
}

a{
    margin-right: 150px;
    text-decoration: none;
}
#contentbox{
    height: 620px;
}
footer{
    color: white;
    background-color: #0f1111;
    text-align: center;
}