#box1{
    height: 100px;
    width: 200px;
    background-color: green;
    font-size: 10px;
}
#box2{
    height: 50px;
    width: 30%;
    background-color: aqua;
    margin-left: 10%;
    font-size: 2em;/*two times of parent div*/
    width: 5em;/*20*5px*/
}
#box3{
    height: 50px;
    width: 30%;
    background-color: blueviolet;
    font-size: 1em;
    width: 5rem;
}