div{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
}
body{
    background-image: url("lion.jpg.jpg");
    background-size: cover;
}
#box1{
    height: 100px;
    width: 200px;
    background-color: green;
    background-image: url("cat.jpg.jpg");
    background-size: contain;
    
}
#box2{
    height: 100px;
    width: 200px;
    background-color: aqua;
    background-image: url("panda.jpg.jpg");
    background-size: contain;
    
   
}
#box3{
    height: 100px;
    width: 200px;
    background-color: yellow;
  
}
#box4{
    height: 100px;
    width: 200px;
    background-color: plum;
}
