h1{
    background-color: aquamarine;
    display: inline-block ;
    text-align: center;
}

div{
    width: 100px;
    height: 100px;
    border: 5px;
    margin: 25px;
    padding: 25px;
    display: inline-block;
}