
        html {
            font-size: 16px; 
        }

        body {
            margin: 0;
            font-family: Arial, sans-serif;
        }

        
        .hero {
            height: 100vh;                
            background-image: url("https://picsum.photos/1200/800");
            background-size: cover;       
            background-position: center;
            background-repeat: no-repeat;
            color: white;
            text-align: center;
            padding-top: 5rem;            
        }

        
        .units {
            width: 80%;                   
            margin: 2rem auto;
            padding: 2em;                 
            background-color: #f4f4f4;
            font-size: 18px;
        }

        .units p {
            font-size: 1.2em;             
        }

        .units span {
            font-size: 1.5rem;           
            color: darkblue;
        }

        
        .static-box {
            background: lightgray;
            padding: 10px;
            margin: 10px;
            position: static;
        }

        .relative-box {
            background: lightblue;
            width: 200px;
            height: 100px;
            position: relative;
            left: 30px;
            top: 10px;
        }

        
        .absolute-container {
            position: relative;
            height: 150px;
            background: #ddd;
            margin: 20px;
        }

        .absolute-box {
            position: absolute;
            right: 20px;
            bottom: 20px;
            background: tomato;
            color: white;
            padding: 10px;
        }

        
        .fixed-box {
            position: fixed;
            bottom: 10px;
            right: 10px;
            background: black;
            color: white;
            padding: 10px;
        }


        .z-container {
            position: relative;
            height: 200px;
            margin: 40px;
        }

        .box1 {
            position: absolute;
            width: 150px;
            height: 150px;
            background: red;
            z-index: 1;
        }

        .box2 {
            position: absolute;
            width: 150px;
            height: 150px;
            background: blue;
            left: 40px;
            top: 40px;
            z-index: 2;
        }

    