
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: Arial, sans-serif;
        }

        
        header {
            background-color: #222;
            padding: 15px;
        }

    
        nav a {
            color: white;
            margin-right: 20px;
            text-decoration: none;
            font-weight: bold;
        }

        
        .content {
            height: 300px;              
            border: 2px solid black;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        
        .box {
            width: 100px;               
            height: 100px;              
            border: 2px solid black;    
        }

        
        .box1 {
            background-color: rgba(255, 0, 0, 0.5);   
        }

        .box2 {
            background-color: rgba(0, 255, 0, 0.5);   
        }

        .box3 {
            background-color: rgba(0, 0, 255, 0.5);   
        }

    
        footer {
            background-color: #222;
            color: white;
            text-align: center;
            padding: 15px;
        }
    