#one{
    font-size: 30px;
}
#two{
    font-size: 20px;
}
#three{
    font-size: 13px;
}
#four{
    line-height: 25px;
}
.upper {
            text-transform: uppercase;
        }
 .lower {
            text-transform: lowercase;
        }
.cap {
            text-transform: capitalize;
        }