/* Page background */
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(to right, #74ebd5, #acb6e5);
  /*left to right*/
  display: flex;/*easy alingment*/
  flex-direction: column;/*vertically top to bottow*/
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

/* Heading style */
h1 {
  color: #333;
  margin-bottom: 30px;
  text-shadow: 1px 1px 2px white;
  /*right down blur*/
}

/* Button style */
button {
  width: 180px;
  padding: 15px;
  margin: 10px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: white;
  color: #333;
  box-shadow: 0 5px 10px rgba(0,0,0, 0.2)
}